---
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>Welcome to Astro</title>
</head>

<body>

	<h1>Briskmode</h1>
	<p>
		We are a small indie company, building native and web apps for productivity, joy and fun. Our goal is to give people more time to live their lives the way they want, and for the brief moment of interacting with our apps, try to share love we put into making them.
	
	<br/>
	<br/>
	
		We value performance, quality, user experience and good coffee.
	</p>



 <h2>Our latest project is Enscript</h2>


<p>
a way to enhance and customize your note experience with <a href="https://bear.app/">Bear</a> via scripting.<br/>
Give it a shot!
</p>

 <h2>Get in touch</h2>
 <a href="mailto:hi@briskmode.dev">Send</a> us an email.
</body>

</html>
