---
export interface Props {
  size?: "sm" | "md" | "lg";
}

const { size = 'md' } = Astro.props;

const sizes = {
    "sm" : "h-1",
    "md": "h-2", 
    "lg": "h-4",
}

const getHeight = (s: "sm" | "md" | "lg") => sizes[s]

---
<div class={getHeight(size)}></div>
